<html>


	<h3>Choose your date:</h3>
	<%= form_tag("/home/search", :method => "get") do %>
      <%= label_tag(:city, "City") %> 
	    <%= select_tag('gender', options_for_select([['',''], ['San Francisco', 'San Francisco'], ['Los Angeles', 'Los Angeles']])) %>
	  </div>
	  <div class="span6">
	    <%= label_tag(:restaurant, "Restaurant")%>
	    <%= text_field_tag(:restaurant)%>
	  </div>
	</div>
	<div class="row">
	  <div class="span6">
	    <%= label_tag(:cuisine, "Cuisine")%>
	    <%= text_field_tag(:cuisine)%>
	  </div>
	  <div class="span6">
	    <%= label_tag(:gender, "Gender")%>
	    <%= select_tag('gender', options_for_select([['',''], ['Female', 'Female'], ['Male', 'Male']])) %>
	  </div>
	</div>
	<div class="row">
	  <div class="span6">
	    <%= label_tag(:gender_target, "Looking for")%> 
	    <%= select_tag('gender_target', options_for_select([['',''], ['Female', 'Female'], ['Male', 'Male']])) %>
	  </div>
	  <div class="span6">
	    <%= label_tag(:date, "Date")%>
	    <%= text_field_tag(:date) %>
	  </div>
	</div>
	<div class="row">
	  <div class="span12">
	    <%= submit_tag("Search restaurants")%>
	  </div>
	</div>
	<% end %>

	
</html>
